{% extends "base.html" %}
{% block content_to_render %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="https://en.wikipedia.org/wiki/Chelsea_F.C." target="_blank">
                <h2 class="post-title">
                    The Blues, The Pensioners
                </h2>
                <h3 class="post-subtitle">
                    Chelsea Football Club is an English professional football club based in Fulham, West London. Founded
                    in 1905, the club competes in the Premier League, the top division of English football. Chelsea are
                    among England's most successful clubs, having won over thirty competitive honours, including six
                    league titles and seven European trophies. Their home ground is Stamford Bridge.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="https://en.wikipedia.org/wiki/Chelsea_F.C./" target="_blank">Wikipedia</a>
                on June 02, 2021</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="https://en.wikipedia.org/wiki/History_of_Chelsea_F.C." target="_blank">
                <h2 class="post-title">
                    Chelsea were founded on 10 March 1905 at The Rising Sun pub (now The Butcher's Hook),
                    opposite the present-day main entrance to the ground on Fulham Road, and were elected to the
                    Football League shortly afterwards.
                </h2>
            </a>
            <p class="post-meta">Posted by
                <a href="https://en.wikipedia.org/wiki/History_of_Chelsea_F.C." target="_blank">Wikipedia</a>
                on May 31, 2021</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right"
                href="https://en.wikipedia.org/wiki/List_of_Chelsea_F.C._records_and_statistics" target="_blank">More
                Posts &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}